<section>
  <div class="card">
    <div class="card-header text-light">
      Daily Status Update
    </div>
    <div class="card-body" *ngIf="lastTx">
      <p>Your last transaction was to {{ payReceive }}
        {{ lastTx.amount | abs | currency }} {{ toFrom }} {{ lastTx.payee.payeeName }}</p>
      <p>You have {{ notClearedTxCount | async }} transactions that have not cleared yet.</p>
      <p>You have spent {{ monthlyCategoryAmount | abs | currency }} on {{ monthlyCategory }} this month.</p>
    </div>
  </div>
</section>
