<section>
  <div class="card">
    <div class="card-header text-light">
      Here is your daily summary:
    </div>
    <div class="card-body" 
         *ngIf="summary | async as resolved">
      <p>You spent {{ resolved.lastTxAmount | abs | currency }} at {{ resolved.lastTxPayee }}
        in your last transaction. </p>
      <p>You have spent {{ resolved.categoryAmount | abs | currency }} on
        {{ resolved.category | lowercase }} this {{ resolved.lastTx.txDate | date: 'MMMM' }}.</p>
      <p>You have {{ resolved.notClearedCount }} pending transactions.</p>
    </div>
  </div>
</section>
