<main class="container-fluid">
  <section class="row banking-banner-bottom">
    <div class="col text-center">
      <h1>Banking Banner</h1>
    </div>
  </section>
  <section class="row">
    <div class="col-1">&nbsp;</div>
    <div class="col">
      <div class="row">
        <div class="col">
          <banking-navigation></banking-navigation>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!--<banking-home></banking-home>-->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="col-1">&nbsp;</div>
  </section>
</main>
