<ul class="nav nav-tabs banking-nav">
  <li class="nav-item"><a [routerLink]="['/home']" class="nav-link" routerLinkActive="active">Home</a></li>
  <li class="nav-item"><a [routerLink]="['/tx', 'account', 'checking']" class="nav-link" routerLinkActive="active">Checking</a></li>
  <li class="nav-item"><a [routerLink]="['/tx', 'account', 'savings']" class="nav-link" routerLinkActive="active">Savings</a></li>
  <li class="nav-item"><a [routerLink]="['/categories']" class="nav-link" routerLinkActive="active">Categories</a></li>
  <li class="nav-item"><a [routerLink]="['/payees']" class="nav-link" routerLinkActive="active">Payees</a></li>
</ul>
