.right-column {
  border-left: 2px solid #6c757d;
}

.left-content, .right-content {
  margin-top: 15px;
}

.home-manager-header {
  border-bottom: 1px solid #dee2e6;
}

tx-list {
  /* A little trick from https://getbootstrap.com/docs/4.0/content/typography/#responsive-typography */
  font-size: 0.8rem
}
